* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("bg.png");
  background-color: rgba(0, 0, 0, 0.884);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
  max-height: 8vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

nav .logo {
  font-size: 4.5em;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
}

nav .nav-links li {
  list-style-type: none;
}

nav .nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding: 0 7px;
  border-left: 2px solid #000;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

nav .nav-links li a:hover {
  color: rgba(128, 111, 17, 0.904);
  border-left: 2px solid rgba(145, 124, 9, 0.904);
}

nav .burger {
  display: none;
  width: 30%;
  text-align: end;
}

nav .burger i {
  font-size: 2.5em;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #fff;
}

.container .background-img {
  background-image: url("bg-2.jpg");
  background-size: cover;
  height: 52vh;
}

.container .background-img h1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Bangers', cursive;
  letter-spacing: 8px;
  font-size: 3em;
  color: #fff;
}

.container .title {
  padding: 10px 0;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1.6px;
  font-family: 'Bangers', cursive;
}

.container .info {
  margin-top: 20px;
  padding: 0 10px;
}

.container .icon {
  margin-top: 20px;
  text-align: center;
  font-size: 4em;
  cursor: pointer;
}

.container .icon a {
  color: #000;
}

@media (max-width: 1024px) {
  nav .nav-links {
    width: 60%;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav .nav-links {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav .burger {
    display: block;
  }
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */